@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/variable/pretendardvariable.css');
@import "tailwindcss";
@import "./theme.css";

/* 미리 클래스를 생성해두고 사용 */
@source inline("{hover:,focus:,active:,}{bg,text,border,fill,stroke}-{gray,cocoa,minty,brown,gold,naver-green,kakao,red}-{100..600..100}");
@source inline("{hover:,focus:,active:,}{bg,text,border,fill,stroke}-{white,black}");
@source inline("{p,m}{x,y,t,r,b,l,s,e,}-{0..20}");
@source inline("{font}-{display,body}");
@source inline("{shadow}-{menu-bar}");

.h1 {
  font-weight: 400;
  font-size: 2.5rem;
  line-height: 140%;
}
.h1.fw-black {
  font-weight: 700;
}

.h2 {
  font-weight: 400;
  font-size: 2rem;
  line-height: 150%;
}

.h3 {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 150%;
}

.h3.fw-black {
  font-weight: 900;
}

.h4 {
  font-weight: 600;
  font-size: 1rem;
  line-height: 150%;
}

.h4.fw-black {
  font-weight: 900;
}

.h5 {
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 120%;
}

.h6 {
  font-weight: 400;
  font-size: 0.625rem;
  line-height: 160%;
}

.p1 {
  font-weight: 400;
  font-size: 1rem;
  line-height: 150%;
}

.caption {
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 120%;
}

.caption.fw-bold {
  font-weight: 600;
}