@import "tailwindcss";
@import "./theme.css";

/* 미리 클래스를 생성해두고 사용 */
@source inline("{hover:,focus:,active:,}{bg,text,border}-{gray,icy-blue}-{50,{100..900..100},950}");
@source inline("{hover:,focus:,active:,}{bg,text,border}-{white,black}");
@source inline("{p,m}{x,y,t,r,b,l,s,e,}-{0..10}");
@source inline("{font}-{display,body}");

.component-test {
  @apply bg-gray-100;
}

.h1 {
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 140%;
}

.h2 {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 140%;
}

.h3 {
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 140%;
}

.h4 {
  font-size: 1rem;
  font-weight: 600;
  line-height: 160%;
}

.h5 {
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 160%;
}

.h6 {
  font-size: 0.75rem;
  font-weight: 600;
  line-height: 160%;
}

.p1 {
  font-size: 1rem;
  font-weight: 400;
  line-height: 160%;
}

.caption {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 160%;
}